*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
}

body {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-start; /* Align children to the top */
    align-items: center; /* Center children horizontally */
    height: 100vh; 
    margin: 0; 
    background-color: #ffffff; /* Set a background color instead */
}



h1 {
    color: #ffffff; /* Change text color to white */
    font-size: 35px; 
    background-color: #fb6f92; /* Pink background */
    padding: 10px 20px; 
    border-radius: 15px; 
    border: 2px solid #fb6f92; 
    display: inline-block; 
    margin-top: 20px; 
    text-align: center; 
    } 


#video-container {
    display: flex; 
    justify-content: center; /* Centers video inside */
    align-items: center;
    width: 100%;
    flex-direction: column; /* Arrange video and h2 in a column */
    margin-top: 100px; /* Adjust this value to position the video below the h1 */
}

video{
    width: 30%; 
    height: auto; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    display: block; /* Ensure the video is treated as a block element */
    margin: 0 auto; /* Center the video horizontally */
}

h2{
    color: #ffffff; /* Change text color to white */
    font-size: 20px; 
    background-color: #fb6f92; /* Pink background */
    padding: 10px 20px; 
    border-radius: 15px; 
    border: 2px solid #fb6f92; 
    display: inline-block; 
    margin-top: 20px; /* Add space above the h2 element */
    text-align: center; 
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;                         /* Space between blocks */
    background-color: #ccc;            /* Grey background */
    border-radius: 10px;               /* Rounded edges */
    padding: 10px;
    width: 80%;
    margin: 20px auto; 
}
.block {
    background-color: #fff;            /* White background for each block */
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
    border-radius: 10px;  
    height: 100 px;    
    width: auto;  
}