*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
}

body {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    height: 100vh; 
    margin: 0; 
    background-color: #ffffff; /* Set a background color instead */
}

h1{
    color: #ffffff;
    font-size: 30px;
    background-color: #fb6f92; 
    padding: 10px 20px; 
    border-radius: 15px; 
    border: 2px solid #fb6f92; 
    display: inline-block; 
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}

video{
    width: 30%; 
    height: auto; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    display: block; /* Ensure the video is treated as a block element */
    margin-top: 125px auto; /* Adjust this value as needed */
}

h2{
    color: #ffffff; /* Change text color to white */
    font-size: 20px; 
    background-color: #fb6f92; /* Pink background */
    padding: 10px 20px; 
    border-radius: 15px; 
    border: 2px solid #fb6f92; 
    display: inline-block; 
    margin-top: 20px; /* Add space above the h2 element */
    text-align: center; 
}

